<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <title>dashborad</title>
        </head>
        <body>
            <div class = 'logo container-fluid, '>
                <h1>Big foot sighter</h1>
                <nav>
                    <ul>
                        <li>Setting</li>
                        <li>Account</li>
                    </ul>
                </nav>
            </div>
            <div class = 'info'>
                <ul>
                    <a href= '#'><li>Users data</li></a>
                    <a href="#"><li>Map of sightings</li></a>
                    <a href="#"><li>Data of sightings</li></a>
                </ul>
            </div>

            <div>
                
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Locations</th>
                        <th>Post</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>8-8-1995 </td>
                        <td>Alvin</td>
                        <td>test124</td>
                        <td>Germany</td>
                        <td>0</td>
                        <td>active<td>
                    </tr>
                    <tr>
                        <td>8-8-1995 </td>
                        <td>Alvin</td>
                        <td>test124</td>
                        <td>Germany</td>
                        <td>0</td>
                        <td>active<td>
                    </tr>
                </table>
                
       
            </div>
        </body>
</html>
