<div class="overlay">
  <div class="modal-container">
    <div class="login-popup">
      <h3 class="login-prompt">Sign Up!</h3>
      <form action="" class="log-in">
        <label for="name">Name</label>
        <input type="text" class="name">
        <label for="email">Email</label>
        <input type="text" class="email">
        <label for="password">Password</label>
        <input type="text" class="password">
        <button type="submit" class="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<div class="banner">
  <img src="https://i.imgur.com/fA0u9kJ.png" alt="bigfoot sighters logo" class="bigfoot-logo">
  
  <nav class="nav-links">
    
    <a href="#" class="nav-link home">Home</a>
    <a href="#" class="nav-link about">About Us</a>
    <a href="#" class="nav-link sightings">Sightings</a>
    
    <button class="signin btn">Sign In</button>
    
  </nav>
  
    <div class="hamburger-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  
</div>

<div class="main-page-field">
  
    <img src="https://i.imgur.com/fgjrayB.jpg" alt="squatch photo" class="main-image">
  
    <div class="welcome-block">
      <p class="welcome-text">Welcome to <br> Bigfoot Sighters!</p>
      <div class="spacer-block"></div>
      <p class="be-informed">Be informed about bigfoot sightings <br> and join us on our next expedition.</p>
      <button class="signup btn">Sign Up</button>
      
    </div>  
</div>

<div class="banner sightings-banner">
  <h3 class="divider-text">Sightings</h3>
</div>

<a href="#" class="view-stories">View All Stories</a>


<div class="card-carousel">

  <div class="story-card">
    <img src="https://i.imgur.com/d5XLc7Y.png" alt="taco squatch" class="block-image">
  </div>
  
</div>

<p class="share">Share your bigfoot sighting stories and photos with the community.</p>

<button class="submit-your-story btn">Submit Your Story</button>


<footer>
  <div class="footer-block banner">
    <section class="footer-nav">
      <a href="#" class="about-us">About Us</a>
      <br>
      <a href="#" class="donate">Donate</a>
      <br>
      <a href="#" class="contact">Contact</a>
    </section>
    <img src="https://i.imgur.com/fA0u9kJ.png" alt="bigfoot sighters logo" class="bigfoot-logo-2">
  </div>
</footer>


<script>
  const modal = document.querySelector(".login-popup");
  const buttonOn = document.querySelector(".signup");
  // const buttonOff = document.querySelector(".signinOff");
  const overlay = document.querySelector(".overlay");

  buttonOn.addEventListener('click', () => {
    modal.style.display = "flex";
    overlay.style.display = "flex"; 
  });

  buttonOff.addEventListener('click', () => {
    modal.style.display = "none";
  });
</script>