* {
	margin: 0;
	padding: 0;
  }
  
  body {
	height: 100vh;
  }
  
  /* Header */
  
  .banner {
	width: 100vw;
	height: 78px;
	background-color: #A6AFA2;
  }
  
  .bigfoot-logo {
	max-width: 400px;
	width: 75vw;
	margin-left: 6vw;
  }
  
  .nav-links {
	float: right;
	margin-top: 15px;
	font-family: Roboto;
  }
  
  .nav-link {
	padding: 20px;
	font-size: 24px;
	color: #3b3b3b;
  }
  
  .signin {
	width: 135px;
	height: 48px;
	color: whitesmoke;
	background-color: #2F3C18;
	border: none;
	font-size: 22px;
	margin-right: 130px;
	margin-left: 25px;
  }
  
  .hamburger-menu {
	opacity: 0%;
	float: right;
	margin-right: 6vw;
  }
  
  .line {
	display: block;
	width: 40px;
	height: 6px;
	border-radius: 3px;
	background-color: #2F3c18;
	margin: 5px;
  }
  
  /* Main Page */
  
  .main-page-field {
	width: 100vw;
	height: 550px;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  
  .main-image {
	object-fit: cover;
	height: 323px;
	width: 50vw;
	margin-right: 50px;
  }
  
  .welcome-block {
	height: 323px;
	width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .welcome-text {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
  }
  
  .be-informed {
	font-size: 16px;
	text-align: center;
	padding: 15px; 
  }
  
  .signup-btn {
	width: 275px;
	height: 61px;
	background-color: #2F3C18;
	color: whitesmoke;
	font-size: 24px;
	margin-top: 100px;
	margin-bottom: 0;
  }
  
  .btn {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
  }
  
  
  /* Modal */
  
  .overlay {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 90;
	display: none;
  }
  
  .login-popup {
	background-color: whitesmoke;
	height: 500px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	z-index: 100;
	display: none;
  }
  
  .confirm-popup {
	background-color: whitesmoke;
	height: 300px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	z-index: 100;
	display: none;
  }
  
  
  h3 {
	color: #3b3b3b;
  }
  
  label {
	display: block;
	font-size: 20px;
	margin-left: 35px;
  }
  
  input {
	width: 200px;
	height: 40px;
	display: block;
	text-align: center;
	border-radius: 5px;
	margin-left: 35px;
	margin-bottom: 20px;
  }
  
  .submit {
	width: 80px;
	margin: 10px;
	display: block;
	position: relative;
	border-radius: 5px;
	margin: 0px;
	height: 61px;
	width: 275px;
	color: whitesmoke;
	font-size: 18px;
	background-color: #2F3C18;
  }
  
  .buttons {
	display: block;
  }
  
  /* Sightings */
  
  .sightings-banner {
	text-align: center;
  }
  
  .divider-text {
	font-size: 24px;
	color: whitesmoke;
	padding: 25px;
  }
  
  .sightings-field {
	width: 100vw;
	height: 960px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .view-stories {
	margin-right: 135px;
	margin-top: 45px;
	float: right; 
	font-size: 24px;
	color: #3b3b3b;
  }
  
  .story-card {
	margin-left: 8vw;
	margin-top: 8vw;
  }
  
  .block-image {
	min-width: 1350px;
	max-width: 95%;
  }
  
  .share {
	text-align: center;
	margin-top: 80px;
  }
  
  .submit-your-story {
	width: 275px;
	height: 61px;
	background-color: #2F3C18;
	color: whitesmoke;
	font-size: 24px;
	margin: 30px 42vw 40px 42vw;
  }
	
  .footer-block {
	height: 200px;
	display: flex;
	justify-content: left;
	align-items: center;
  }
  
  .footer-nav a {
	display: block;
	font-size: 24px;
	margin-left: 100px;
	color: whitesmoke;
  }
  
  .bigfoot-logo-2 {
	width: 400px;
	margin-left: 870px;
  }
  
  @media only screen and (max-width: 1200px) {
	.hamburger-menu {
	  opacity: 100%;
	  margin-top: 20px;
	}
	.nav-links {
	  display: none;
	}
	.nav-link {
	  display: none;
	}
	.main-page-field {
	  display: block;
	  justify-content: center;
	  align-items: center;
	  height: 600px;
	}
	.main-image {
	  width: 90vw;
	  height: 300px;
	  margin: 5vw;
	}
	.spacer-block {
	  display: none;
	}  
	.welcome-block {
	  height: auto;
	  width: 95vw;
	  display: flex;
	}
	.welcome-text, .be-informed {
	  text-align: center;
	  margin-top: 0;
	}
	.signup-btn {
	  margin: 0;
	}
	.view-stories {
	  padding: 15px;
	  margin: 15px;
	  margin-right: 150px;
	  text-align: center;
	}
	.submit-your-story {
	  margin: 20px 20%;
	}
	.bigfoot-logo-2 {
	  display: none;
	}
	
  }