* {
	margin: 0;
	padding: 0;
  }
  
  body {
	height: 100vh;
  }
  
  /* Header */
  
  .banner {
	width: 100vw;
	height: 78px;
	background-color: #A6AFA2;
  }
  
  .bigfoot-logo {
	width: 400px;
	margin-left: 100px;
  }
  
  .nav-links {
	float: right;
	margin-top: 15px;
	font-family: Roboto;
  }
  
  .nav-link {
	padding: 20px;
	font-size: 24px;
	color: #3b3b3b;
  }
  
  .signin {
	width: 135px;
	height: 48px;
	color: whitesmoke;
	background-color: #2F3C18;
	border: none;
	font-size: 22px;
	margin-right: 130px;
	margin-left: 25px;
  }
  
  /* Main Page */
  
  .main-page-field {
	width: 100vw;
	height: 550px;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  
  .main-image {
	object-fit: cover;
	height: 323px;
	width: 50vw;
	margin-right: 50px;
  }
  
  .welcome-block {
	height: 323px;
	width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .welcome-text {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
  }
  
  .be-informed {
	font-size: 16px;
	text-align: center;
	padding: 15px; 
  }
  
  .signup {
	width: 275px;
	height: 61px;
	background-color: #2F3C18;
	color: whitesmoke;
	font-size: 24px;
	margin-top: 100px;
	margin-bottom: 0;
  }
  
  
  /* Sightings */
  
  .sightings-banner {
	text-align: center;
  }
  
  .divider-text {
	font-size: 24px;
	color: whitesmoke;
	padding: 25px;
  }
  
  .sightings-field {
	width: 100vw;
	height: 960px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .view-stories {
	margin-right: 135px;
	margin-top: 45px;
	float: right; 
	font-size: 24px;
	color: #3b3b3b;
  }
  
<<<<<<< HEAD:main.css
  .story-card {
	margin-left: 8vw;
	margin-top: 8vw;
=======
  .article-block {
	height: 589px;
	width: 375px;
	background-color: #C6CFC2;
	display: flex;

>>>>>>> dev:public/css/main.css
  }
  
  .block-image {
	width: 91.5%;
	max-width: 95%;
  }
  
  .share {
	text-align: center;
	margin-top: 80px;
  }
  
  .submit-your-story {
	width: 275px;
	height: 61px;
	background-color: #2F3C18;
	color: whitesmoke;
	font-size: 24px;
	margin: 30px 42vw 40px 42vw;
  }
	
  .footer-block {
	height: 200px;
	display: flex;
	justify-content: left;
	align-items: center;
  }
  
  .footer-nav a {
	display: block;
	font-size: 24px;
	margin-left: 100px;
	color: whitesmoke;
  }