*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


table{
    font-size: 18px;
    margin-top: 15px;
    
    width: 90%;
    table-layout: auto ;
}

tr,td ,th{
    padding:20px;
    border-left: white 2px solid;
}

th,td{
    width:15%;
}


tbody tr{
    background-color: #c6cfc2;
}
thead{
    background-color: #ECEFEB;
    font-weight: 700;
    padding: 30px;
}


nav{
    font-size: 20px;
    position:absolute ;
    display: inline-block;
    right: 0;
    top: 15px;
    margin-right: 50px;
    margin-left: 30px;
    padding-right: 50px;
   font-weight: 500;

}
nav ul li{
    display: inline;
    margin-left: 50px;
    color: black
    
}

tbody tr:nth-child(even){
    background-color: #f6f6f6;
}


.logo{
    background-color: #a6afa2;
    position: relative;
    padding: 2px;
    
}


.info ul{
    margin-top: 50px;
    display: flex;
    padding-right: 50px;
    list-style-type: none;
    font-size: 22px;
}
 
.info ul li{
    margin-left: 70px;
    font-weight: 400;
    color: black;
}




.info ul li:hover{
    font-weight: 700;
}

.user{
    margin-left: 70px;
}